body{
    background-color: rgb(231, 13, 13);
}


h1{
    text-decoration: underline;
}

.division{
    color: white;
    background-color: black;
    width: 300px;
    height: 620px;
    border: 2px white solid;
}

img{
    width: 100%;
}
